<div class="card" style="margin: 1rem; padding: 1rem;">
    <!-- <form>
        <div class="form-group form-inline">
            Full text search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
        </div>
        <div class="form-group">
            <label class="control-label">Type of User</label>
            <select  class="form-control" (change)="onChange($event.target.value)">
              <option>All</option>
              <option>Admin</option>
              <option>Student</option>
              <option>Professor</option>
            </select>
          </div>
      </form> -->
      
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Quotas</th>
          <th scope="col">Term</th>
          <th scope="col">Professor</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let subject of subjects; index as i" (click)="seleccionoMateria(subject)">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px"> -->
            <ngb-highlight [result]="subject.name" [term]="filter.value"></ngb-highlight>
          </td>
          <td><ngb-highlight  appCantidadAlumnos [result]="subject.quotas | number" [term]="filter.value"></ngb-highlight></td>
          <!-- <td><ngb-highlight [result]="country.population | number" [term]="filter.value"></ngb-highlight></td> -->
          <td>
              <ngb-highlight [result]="subject.term" [term]="filter.value"></ngb-highlight>
            </td>
          <td>
              <ngb-highlight [result]="subject.profesor.email" [term]="filter.value"></ngb-highlight>
            </td>
        </tr>
        </tbody>
      </table>
      <app-toast [show]=toastShow [classes]="toastClasses" [contenido]="comment"></app-toast>

    </div>
    <div class="alumnos" *ngIf="alumnos.length > 0">
      <div class="alumno" *ngFor="let alumno of alumnos">
        <div class="nombre" (click)="ponerNota(alumno)">{{alumno.email}}</div>
      </div>
    </div>

    <div class="nota" *ngIf="evaluado" >
      <input type="number" name="notaAlumno" [(ngModel)]='nota' id="" min="1" max="10">
      <button (click)="addNota()" >Agregarnota</button>
    </div>