<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color: orange;font-weight: 700;">UTN-FRA</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="appNavigation"
    aria-expanded="!isCollapsed" aria-label="Toggle navigation" (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="appNavigation" [ngbCollapse]="isCollapsed">
    <div class="principal">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  routerLink="/home"routerLinkActive="active">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/login"  routerLinkActive="active">Subjects</a>
        </li>
        <li class="nav-item" *ngIf="user && user.type == 'Admin'">
          <a class="nav-link"  routerLink="/addSubject"  routerLinkActive="active">Add Subjects</a>
        </li>
        <li class="nav-item" *ngIf="user && user.type == 'Admin'">
          <a class="nav-link"  routerLink="/home/addAdmin"  routerLinkActive="active">Add Admin</a>
        </li>
        <li class="nav-item" *ngIf="user && user.type == 'Student'">
          <a class="nav-link"  routerLink="/home/inscription"  routerLinkActive="active">Inscription Subject</a>
        </li>
        <li class="nav-item" *ngIf="user && user.type == 'Admin'">
          <a class="nav-link"  routerLink="/home/listSubjects"  routerLinkActive="active">List Subjects</a>
        </li>
        <li class="nav-item" *ngIf="user && user.type == 'Admin'">
          <a class="nav-link"  routerLink="/home/listUsers"  routerLinkActive="active">List Users</a>
        </li>
      </ul>
    </div>
    <div class="user_controls" *ngIf="!user">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/register" routerLinkActive="active">Register</a>
        </li>
      </ul>
    </div>
    <div class="user_controls" *ngIf="user">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active">{{user.email}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/register" routerLinkActive="active" style="color: white;">{{user.type}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>