<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Agregar Materia</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure inscription to <span class="text-primary">{{subject.name}}</span> ?</strong></p>
    <p>
    <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-dark" (click)="concluirInscripcion()">Ok</button>
  </div>
  </ng-template>

<app-listado-materia (materiaElegida)="tomaMateria($event,content)" [subjects]=listaMaterias></app-listado-materia>

