<div class="card" style="margin: 1rem; padding: 1rem;">  
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Subject</th>
        <th scope="col">Student</th>
        <th scope="col">Mark</th>
        <th scope="col">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let exam of exams; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <img [src]="exam.student.image" class="mr-2" style="width: 20px">
        </td>
        <td>
          <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px"> -->
          <ngb-highlight [result]="exam.subject.name"></ngb-highlight>
        </td>
        <td><ngb-highlight  appCantidadAlumnos [result]="exam.student.email"></ngb-highlight></td>
        <td>
            <ngb-highlight [result]="exam.nota"></ngb-highlight>
          </td>
        <td>
            <ngb-highlight [result]="exam.date"></ngb-highlight>
          </td>
      </tr>
      </tbody>
    </table>

  </div>
