<div class="card" style="margin: 1rem; padding: 1rem">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Type</th>
        <th scope="col">Date</th>
        <!-- <th scope="col">Population</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px"> -->
          <ngb-highlight
            [result]="usuario.email"
          ></ngb-highlight>
        </td>
        <!-- <td><ngb-highlight [result]="country.population | number" [term]="filter.value"></ngb-highlight></td> -->
        <td>
          <ngb-highlight
            [result]="usuario.type"
          ></ngb-highlight>
        </td>
        <td>
            <p>{{ usuario.date }}  </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

